<nav class="position-fixed w-25 h-100 p-5 bg-primary text-light">
    <ul class="nav flex-column">
        <li class="nav-item py-1">
            <a routerLink="" class="text-light text-decoration-none">Tableau de bord</a>
        </li>
        <li class="nav-item py-1 mt-3">Gestion du site</li>
        <ul class="flex-column">
            <li class="nav-item py-1">
                <a routerLink="pages" class="text-light text-decoration-none">Pages</a> 
            </li>
            <li class="nav-item py-1">
                <a routerLink="news" class="text-light text-decoration-none">Actualités</a>
            </li>
            <li class="nav-item py-1">
                <a routerLink="navigation" class="text-light text-decoration-none">Navigation</a>
            </li>
        </ul>
    </ul>
    <ul class="nav flex-column mt-3">
        <li class="nav-item py-1">Extensions du site</li>
    </ul>
    <ul class="nav flex-column mt-3">
        <li class="nav-item py-1">Administration</li>
        <ul>
            <li class="nav-item py-1">Gérer mes informations</li>
        </ul>
    </ul>
</nav>